// Black
$black-base:    #303743;
$black-dark:    #262A30;

// Blue
$blue-base:     #2791C6;

// Green
$green-light:   #D0EDE5;
$green-base:    #42B996;

// Grey
$grey-light:    #DEDFE1;
$grey-base:     #BDC2CA;
$grey-dark:     #91969D;

// Purple
$purple-base:   #434358;

// Red
$red-light:     #F9D7D3;
$red-base:      #E6614F;

// White
$white-base:    #FFFFFF;
$white-dark:    #FAFAFA;

// Yellow
$yellow-light:  #FDF0D3;
$yellow-base:   #FBCF6E;
